@charset "UTF-8";
body {
	background-image: url("../images/p4.png");
 background-size: 1400px 800px;
 background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login-div {
  width: 600px;
  height: 420px;
  background-color: #121320;
  color: white;
  position: relative;
  margin: 20px auto;
  box-shadow: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 10px;
}



a{
	text-align:center;
	text-decoration:none;
  width: 20px;
  height: auto;
  padding: 15px;
  margin-top:150px;
  border: none;
  background: blue;
  color: white;
  font-size: 16px;
  min-width: 50px;
  letter-spacing: 3px;
  cursor: pointer;
  border-radius: 10px;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;

}