<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <display-name>Medical Store</display-name>
  <welcome-file-list>
    <welcome-file>Main.jsp</welcome-file>
    
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>update</display-name>
    <servlet-name>update</servlet-name>
    <servlet-class>com.update</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>update</servlet-name>
    <url-pattern>/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>manager</display-name>
    <servlet-name>manager</servlet-name>
    <servlet-class>com.manager</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>manager</servlet-name>
    <url-pattern>/manager</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CostDisplay</display-name>
    <servlet-name>CostDisplay</servlet-name>
    <servlet-class>com.CostDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CostDisplay</servlet-name>
    <url-pattern>/CostDisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteC</display-name>
    <servlet-name>DeleteC</servlet-name>
    <servlet-class>com.DeleteC</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteC</servlet-name>
    <url-pattern>/DeleteC</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>order</display-name>
    <servlet-name>order</servlet-name>
    <servlet-class>com.order</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>order</servlet-name>
    <url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>showorder</display-name>
    <servlet-name>showorder</servlet-name>
    <servlet-class>com.showorder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showorder</servlet-name>
    <url-pattern>/showorder</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Cart02</display-name>
    <servlet-name>Cart02</servlet-name>
    <servlet-class>com.Cart02</servlet-class>
  </servlet>
 
</web-app>
